<!-- u240326 -->

## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
##                                 About this file
## -----------------------------------------------------------------------------
## 
## - This file is a generic .gitignore file for GitHub repositories. You can
##   find the current version here:
##       https://gist.github.com/APrettyCoolProgram/1b0639062c6c0994b5767567e22ac738
##
## - Be careful when uncommenting directory wildcards.
##
##   For example, if "[Ll]ogs/" entry is uncommented, and the project has a
##   directory named "Logs/", that directory will not be committed to the
##   repository.
##
## - For other examples of .gitignore files:
##       https://gitignore.io
##       https://github.com/github/gitignore
## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

## =============================================================================
##                        The .non-committal/ directory
## -----------------------------------------------------------------------------
## If your project has data that you need locally, but don't want to commit to
## the repository, you can put that data in a directory named ".non-committal",
## and uncomment this line to exclude it.
## =============================================================================

#.non-committal/

## =============================================================================
##                            Development using MacOS
## -----------------------------------------------------------------------------
## If you develop on a Mac, and you don't want DS_Store files everywhere, leave
## this uncommented.
## =============================================================================

*DS_Store

## =============================================================================
##                              Visual Studio 2022
## -----------------------------------------------------------------------------
## - These settings will ignore temporary files, build results, and various
##   other files generated by Visual Studio.
## 
## - For other .gitignore examples for Visual Studio 2022:
##       https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
##       https://www.toptal.com/developers/gitignore/api/csharp
## =============================================================================

## User-specific
## -------------
## It is recommended that you leave these uncommented, since they are specific
## to your computer and do not need to be shared with others.

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/

## Build components
## ----------------
## It is recommended that you leave these uncommented, since they are specific
## to your project, and generally do not need to be shared with others.

[Bb]ld/
[Bb]in/
[Oo]bj/

## Debug components
## ----------------
## It is recommended that you leave these uncommented, since they are specific
## to your project, and generally do not need to be shared with others.

[Dd]ebug/
[Dd]ebugPublic/

## Release components
## ------------------
## It is recommended that you leave these uncommented, since they are specific
## to your project, and generally do not need to be shared with others.

[Rr]elease/
[Rr]eleases/

## Publish files
## -------------
## It is recommended that you leave these uncommented, since they are specific
## to your project, and generally do not need to be shared with others.

publish/

## Platform specific
## -----------------
## It is recommended that you leave these uncommented.

#x64/
#x86/
#[Ww][Ii][Nn]32/
#[Aa][Rr][Mm]/
#[Aa][Rr][Mm]64/

## Log files
## ---------
## It is recommended that you leave these uncommented. Keep in mind that your
## project may have a directory named "Logs/" that you do not want to ignore.

#[Ll]og/
#[Ll]ogs/

## NuGet
## -----
## It is recommended that you leave these commented.
## 
## By default, these types of NuGet files will be committed to your repository:
##     - Packages (*.nupkg)
##     - Symbol Packages (*.snupkg)
##     - Packages folder, since Package Restore exists (**/[Pp]ackages/*), but
##       not /build which is used as an MSBuild target! (!**/[Pp]ackages/build/)
##     - project.json files (*.nuget.props, *.nuget.targets)

#*.nupkg
#*.snupkg
#**/[Pp]ackages/*
#!**/[Pp]ackages/build/
#*.nuget.props
#*.nuget.targets

## .NET
## ----
## It is recommended that you leave these commented.

#project.lock.json
#project.fragment.lock.json
#artifacts/